{
  "openapi": "3.1.0",
  "info": {
    "title": "g1t API",
    "version": "1",
    "description": "The REST API for g1t, a git forge built for agents. The same operations are available to agents as MCP tools at https://mcp.g1t.sh. Every name in a request or response body is `snake_case`; names you chose, such as a workflow's inputs or a secret's name, are returned as you wrote them.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.g1t.sh"
    }
  ],
  "security": [
    {
      "token": []
    },
    {}
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Signing in from a tool, who a token acts as, and your email addresses.",
      "x-tools": [
        "whoami",
        "list_emails",
        "add_email",
        "remove_email",
        "update_email_settings"
      ]
    },
    {
      "name": "Workspaces",
      "description": "A workspace owns repositories and is the first part of their address. People and agents work in workspaces.",
      "x-tools": [
        "create_workspace",
        "update_workspace",
        "delete_workspace"
      ]
    },
    {
      "name": "Invites",
      "description": "While g1t is invite-only, every new account needs an invite. Your invites, and inviting people into a workspace by email.",
      "x-tools": [
        "list_invites",
        "create_invite",
        "revoke_invite",
        "list_workspace_invites",
        "invite_member",
        "revoke_workspace_invite"
      ]
    },
    {
      "name": "Repositories",
      "description": "A repository, how it handles pull requests, and its timeline: renaming, archiving, moving and deleting it.",
      "x-tools": [
        "list_repos",
        "create_repo",
        "get_repo",
        "update_repo",
        "rename_repo",
        "rename_branch",
        "set_repo_visibility",
        "archive_repo",
        "unarchive_repo",
        "transfer_repo",
        "delete_repo",
        "list_deleted_repos",
        "restore_repo",
        "purge_repo",
        "get_repo_settings",
        "update_repo_settings",
        "list_check_names",
        "list_events"
      ]
    },
    {
      "name": "Access",
      "description": "Who can do what in a repository: repository roles, people given a role on one repository (outside collaborators when they are not members), invitations, and a workspace's base permission.",
      "x-tools": [
        "list_collaborators",
        "add_collaborator",
        "update_collaborator",
        "remove_collaborator",
        "get_collaborator_permission",
        "list_repo_invitations",
        "revoke_repo_invitation",
        "list_my_repo_invitations",
        "accept_repo_invitation",
        "decline_repo_invitation",
        "set_base_permission",
        "list_outside_collaborators"
      ]
    },
    {
      "name": "Security",
      "description": "Secrets found in what is pushed and in a repository's history, and dependencies with known vulnerabilities: listing the alerts, and dismissing or reopening them.",
      "x-tools": [
        "list_security_alerts",
        "dismiss_security_alert",
        "reopen_security_alert"
      ]
    },
    {
      "name": "Issues",
      "description": "What should change in a repository, with labels and comments. Issues and pull requests share one sequence of numbers.",
      "x-tools": [
        "list_issues",
        "create_issue",
        "get_issue",
        "update_issue",
        "close_issue",
        "reopen_issue",
        "assign_issue",
        "delegate",
        "add_comment",
        "list_labels"
      ]
    },
    {
      "name": "Plans",
      "description": "An outcome turned into the issues that would get there, with the order they must merge in.",
      "x-tools": [
        "plan_work",
        "get_plan",
        "apply_plan"
      ]
    },
    {
      "name": "Pull requests",
      "description": "A proposed change in its own fork or on a branch. Several can be made for one issue; the one merged resolves it.",
      "x-tools": [
        "list_pull_requests",
        "create_pull_request",
        "get_pull_request",
        "get_pull_request_changes",
        "mark_pull_request_ready",
        "review_pull_request",
        "merge_pull_request",
        "close_pull_request",
        "get_merge_queue",
        "message_agent",
        "answer_message",
        "take_messages"
      ]
    },
    {
      "name": "Sessions",
      "description": "The record of how a pull request was made: prompts, reasoning and the tools that ran.",
      "x-tools": [
        "read_session",
        "record_session"
      ]
    },
    {
      "name": "Memory",
      "description": "What agents and people learned that the next agent should know, for one project or across a workspace. Members and g1t's agents only; never a secret.",
      "x-tools": [
        "remember",
        "recall"
      ]
    },
    {
      "name": "Search",
      "description": "One search across all of g1t: repositories, code, issues, pull requests, people and workspaces. Public content for everyone, and private content in workspaces you belong to.",
      "x-tools": [
        "search"
      ]
    },
    {
      "name": "Context",
      "description": "A workspace's context hub: a catalog of what it builds and runs, built from its repositories, deployments and integrations, and one search across the catalog, docs, issues, pull requests and memory.",
      "x-tools": [
        "search_context",
        "get_entity"
      ]
    },
    {
      "name": "Actions",
      "description": "GitHub Actions workflows in .g1t/workflows, their runs, and their jobs' logs.",
      "x-tools": [
        "list_workflows",
        "list_workflow_runs",
        "get_workflow_run",
        "get_job_logs",
        "dispatch_workflow",
        "cancel_workflow_run",
        "rerun_workflow_run",
        "update_workflow"
      ]
    },
    {
      "name": "Secrets and variables",
      "description": "Values that workflows and deployments read, per repository or for a whole workspace, with a row per environment.",
      "x-tools": [
        "list_actions_secrets",
        "set_actions_secret",
        "delete_actions_secret",
        "list_actions_variables",
        "set_actions_variable",
        "delete_actions_variable"
      ]
    },
    {
      "name": "Runners",
      "description": "Self-hosted runners: your own machines, which run your workflow jobs (and, if you choose, your agents' work) for $0 of g1t compute. They register with a short-lived token and only ever connect out.",
      "x-tools": [
        "list_runners",
        "create_runner_registration_token",
        "remove_runner",
        "list_runner_groups",
        "create_runner_group",
        "update_runner_group",
        "delete_runner_group",
        "get_runner_settings",
        "update_runner_settings"
      ]
    },
    {
      "name": "Webhooks",
      "description": "Signed HTTPS requests sent to your own address as things happen, for a repository or a whole workspace.",
      "x-tools": [
        "list_webhooks",
        "create_webhook",
        "update_webhook",
        "delete_webhook",
        "ping_webhook",
        "list_webhook_deliveries",
        "redeliver_webhook"
      ]
    },
    {
      "name": "Integrations",
      "description": "A workspace's connections to outside systems: model providers, alert sources and issue trackers.",
      "x-tools": [
        "list_integrations",
        "connect_integration",
        "disconnect_integration",
        "test_integration",
        "get_model_routes",
        "set_model_routes",
        "get_context",
        "import_issue"
      ]
    }
  ],
  "paths": {
    "/device/code": {
      "post": {
        "operationId": "device_code",
        "tags": [
          "Accounts"
        ],
        "summary": "Start signing in",
        "description": "Begins a device sign-in. Show the person `verification_uri_complete` and have them open it in a browser, where they sign in or register and approve the code. Then poll `/device/token`.",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_name": {
                    "type": "string",
                    "description": "What is asking, shown to the person approving. For example, Claude Code."
                  }
                }
              },
              "example": {
                "client_name": "Claude Code"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The codes for this sign-in.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device_code": {
                      "type": "string",
                      "description": "Secret. Send it to /device/token."
                    },
                    "user_code": {
                      "type": "string",
                      "description": "Shown to the person, like WDJB-MJHT."
                    },
                    "verification_uri": {
                      "type": "string"
                    },
                    "verification_uri_complete": {
                      "type": "string",
                      "description": "The link to give the person; it carries the code."
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Seconds until the codes expire."
                    },
                    "interval": {
                      "type": "integer",
                      "description": "Seconds to wait between polls."
                    }
                  }
                },
                "example": {
                  "device_code": "Gm3k…",
                  "user_code": "WDJB-MJHT",
                  "verification_uri": "https://g1t.sh/device",
                  "verification_uri_complete": "https://g1t.sh/device?code=WDJB-MJHT",
                  "expires_in": 900,
                  "interval": 5
                }
              }
            }
          }
        }
      }
    },
    "/device/token": {
      "post": {
        "operationId": "device_token",
        "tags": [
          "Accounts"
        ],
        "summary": "Finish signing in",
        "description": "Asks whether the person has approved. Poll no faster than the interval. The token is returned once.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "device_code"
                ],
                "properties": {
                  "device_code": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "device_code": "Gm3k…"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The state of the sign-in.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "approved",
                        "denied",
                        "expired"
                      ]
                    },
                    "token": {
                      "type": "string",
                      "description": "Present when approved."
                    },
                    "username": {
                      "type": "string"
                    },
                    "verified": {
                      "type": "boolean",
                      "description": "Whether the account's email is confirmed."
                    }
                  }
                },
                "example": {
                  "status": "approved",
                  "token": "g1t_…",
                  "username": "syntaqx",
                  "verified": true
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "operationId": "whoami",
        "tags": [
          "Accounts"
        ],
        "summary": "Get the current user",
        "description": "Who the access token acts as, and the workspaces it can work in. `kind` is `user` for a person's token, `workspace` for a token that belongs to a workspace, and `agent` for the token a g1t agent works with.\n\n`token` is what the access token you called with may do: its `scopes` (left out for full access) and `legacy` when it was made before tokens had scopes. A token reaches every workspace and repository whoever it acts as can; its scopes say what it may do there. See [Scopes](/guides/authentication/#scopes). `kind` is `user`, `workspace` for a [workspace access token](/guides/workspaces/#workspace-access-tokens), or `agent` for the token a g1t agent works with. For a workspace token, `username` is the workspace's slug and `workspaces` holds only that workspace. Each workspace carries its `base_permission`: what a member gets on each of its repositories (owners have Admin). Roles given on single repositories are in `grants`, each with `repo_id`, `workspace` and `role`; it is left out when there are none. See [Access and roles](/guides/access-and-roles/).",
        "x-operation": "whoami",
        "x-mcp-tool": "account",
        "x-mcp-action": "whoami",
        "x-scope": null,
        "security": [
          {
            "token": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "id": "usr_01kkntcg1eeb98j62xjm7eh09p",
                  "username": "syntaqx",
                  "kind": "user",
                  "verified": true,
                  "workspaces": [
                    {
                      "slug": "acme",
                      "role": "member",
                      "base_permission": "write"
                    },
                    {
                      "slug": "flagon-io",
                      "role": "owner",
                      "base_permission": "write"
                    }
                  ],
                  "token": {
                    "token_id": "tok_01kkntd3p2v8x6ym5r0c1q7a9e",
                    "scopes": [
                      "repo:read",
                      "issues:read",
                      "issues:write",
                      "pull_requests:read",
                      "pull_requests:write"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces": {
      "post": {
        "operationId": "create_workspace",
        "tags": [
          "Workspaces"
        ],
        "summary": "Create a workspace",
        "description": "Create a workspace. A workspace owns repositories and is the first part of their address: g1t.sh/{workspace}/{repo}. The whoami tool lists the ones you already belong to.\n\n`base_permission` is what every member gets on each of its repositories: `write` until an owner changes it with `PATCH /workspaces/{workspace}` or `PUT /workspaces/{workspace}/base_permission`. See [Access and roles](/guides/access-and-roles/).",
        "x-operation": "create_workspace",
        "x-mcp-tool": "workspace",
        "x-mcp-action": "create",
        "x-scope": "workspace:admin",
        "security": [
          {
            "token": [
              "workspace:admin"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "id": "wsp_01m43teqa9em6bje0bhvdj4jkb",
                  "slug": "acme-labs",
                  "name": "Acme Labs",
                  "description": null,
                  "created_at": "2026-10-04T16:02:51.337Z",
                  "member_count": 1,
                  "base_permission": "write"
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string",
                    "description": "Its name in URLs: lowercase letters, digits and single hyphens."
                  },
                  "name": {
                    "type": "string",
                    "description": "A display name."
                  }
                },
                "required": [
                  "slug"
                ]
              },
              "example": {
                "slug": "acme-labs",
                "name": "Acme Labs"
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace}": {
      "delete": {
        "operationId": "delete_workspace",
        "tags": [
          "Workspaces"
        ],
        "summary": "Delete a workspace",
        "description": "Delete a workspace and everything in it. Owners only, signed in as a person, and confirm must be the workspace's slug. Billing must be able to settle it: no unpaid invoice, no prepaid credit left, and no usage this month still being metered; what it owes is charged to its card at once and its plan ends. Its repositories, projects and apps go with it at once, nobody can reach it, and its access tokens stop working. It is kept for 30 days, when g1t's support can restore it as it was; then it is purged, with its webhooks, integrations and workspace secrets. Its statements, invoices and audit log are kept. The slug is never given to another workspace; the person whose username it is may create it again once it is purged. Some workspaces, such as Flagon's, can never be deleted.\n\nRefused with `402` while billing cannot settle it, with a message that says what to do, and with `403` for anyone but an owner signed in as a person, or for a protected workspace. Its repositories, projects and apps go with it; g1t's support can restore it for 30 days. See [Delete a workspace](/guides/workspaces/#delete-a-workspace).",
        "x-operation": "delete_workspace",
        "x-mcp-tool": "workspace",
        "x-mcp-action": "delete",
        "x-scope": "workspace:admin",
        "security": [
          {
            "token": [
              "workspace:admin"
            ]
          }
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace's slug, e.g. \"flagon-io\"."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": true
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "confirm": {
                    "type": "string",
                    "description": "The workspace's slug again, typed out, to confirm."
                  }
                },
                "required": [
                  "confirm"
                ]
              },
              "example": {
                "confirm": "acme-labs"
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "update_workspace",
        "tags": [
          "Workspaces"
        ],
        "summary": "Update a workspace",
        "description": "Change a workspace's display name and description, and what every member gets on each of its repositories (base_permission: none, read, write or admin). Only the fields given are changed; give at least one. An empty name falls back to the slug, which this never changes (that is a rename, on Settings); an empty description clears it. Owners only, signed in as a person. Returns the workspace as it is now.\n\nOnly the fields given change. `name` is the display name; the slug, the first part of the workspace's addresses, stays as it is. `base_permission` needs the `access:admin` scope as well as `workspace:admin`; [`set_base_permission`](/reference/api/access/set-base-permission/) sets it alone. Refused with `403` for anyone but an owner signed in as a person. Recorded in the [audit log](/guides/audit-log/). See [Workspaces](/guides/workspaces/).",
        "x-operation": "update_workspace",
        "x-mcp-tool": "workspace",
        "x-mcp-action": "update",
        "x-scope": "workspace:admin",
        "security": [
          {
            "token": [
              "workspace:admin"
            ]
          }
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace's slug, e.g. \"flagon-io\"."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "id": "wsp_01m43teqa9em6bje0bhvdj4jkb",
                  "slug": "acme-labs",
                  "name": "Acme Labs",
                  "description": "Rockets, and the software that flies them.",
                  "created_at": "2026-10-04T16:02:51.337Z",
                  "member_count": 3,
                  "base_permission": "write"
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Its display name, at most 80 characters; longer is cut. Empty: its slug."
                  },
                  "description": {
                    "type": "string",
                    "description": "One line saying what it is for, at most 160 characters; longer is cut. Empty clears it."
                  },
                  "base_permission": {
                    "type": "string",
                    "enum": [
                      "none",
                      "read",
                      "write",
                      "admin"
                    ],
                    "description": "What every member gets on each repository: none, read, write or admin. Needs the access:admin scope as well."
                  }
                }
              },
              "example": {
                "name": "Acme Labs",
                "description": "Rockets, and the software that flies them."
              }
            }
          }
        },
        "x-example-params": {
          "workspace": "acme-labs"
        }
      }
    },
    "/user/emails": {
      "get": {
        "operationId": "list_emails",
        "tags": [
          "Accounts"
        ],
        "summary": "List your email addresses",
        "description": "Your email addresses: each one's `email`, whether it is `verified` (confirmed), `primary` or the `backup`, and when it was added and confirmed. Also whether you keep your address private (`private_email`), your `noreply` address, and `commit_email`, the address on commits g1t makes for you. People only: an agent's or a workspace's token cannot read or change addresses.\n\nYour primary address comes first, then confirmed addresses, then unconfirmed ones. Any confirmed address signs you in, can reset your password and attributes commits to you. See [Email addresses](/guides/authentication/#email-addresses).",
        "x-operation": "list_emails",
        "x-mcp-tool": "account",
        "x-mcp-action": "list_emails",
        "x-scope": "account:read",
        "security": [
          {
            "token": [
              "account:read"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "emails": [
                    {
                      "email": "ada@example.com",
                      "verified": true,
                      "primary": true,
                      "backup": false,
                      "created_at": "2026-09-01T10:00:00.000Z",
                      "verified_at": "2026-09-01T10:02:11.000Z"
                    },
                    {
                      "email": "ada@acme.com",
                      "verified": true,
                      "primary": false,
                      "backup": true,
                      "created_at": "2026-10-02T09:30:00.000Z",
                      "verified_at": "2026-10-02T09:31:40.000Z"
                    },
                    {
                      "email": "ada.l@example.org",
                      "verified": false,
                      "primary": false,
                      "backup": false,
                      "created_at": "2026-10-05T14:12:03.000Z",
                      "verified_at": null
                    }
                  ],
                  "private_email": true,
                  "block_private_pushes": false,
                  "noreply": "6c1d0efg+ada@users.noreply.g1t.sh",
                  "commit_email": "6c1d0efg+ada@users.noreply.g1t.sh",
                  "limit": 10
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "add_email",
        "tags": [
          "Accounts"
        ],
        "summary": "Add an email address",
        "description": "Add an email address to your account. g1t emails it a link to confirm it; until then it cannot be primary and does not sign you in. Adding an address you added before and have not confirmed sends the link again. An address another account has confirmed cannot be added. An account has at most 10. Needs your account `password`; your confirmed addresses are told. People only.\n\nAnswers `403` with code `reauth_required` when `password` is missing or wrong, and `409` when another account has confirmed the address. The new address stays unconfirmed until its link is followed.",
        "x-operation": "add_email",
        "x-mcp-tool": "account",
        "x-mcp-action": "add_email",
        "x-scope": "account:write",
        "security": [
          {
            "token": [
              "account:write"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "emails": [
                    {
                      "email": "ada@example.com",
                      "verified": true,
                      "primary": true,
                      "backup": false,
                      "created_at": "2026-09-01T10:00:00.000Z",
                      "verified_at": "2026-09-01T10:02:11.000Z"
                    },
                    {
                      "email": "ada@acme.com",
                      "verified": true,
                      "primary": false,
                      "backup": true,
                      "created_at": "2026-10-02T09:30:00.000Z",
                      "verified_at": "2026-10-02T09:31:40.000Z"
                    },
                    {
                      "email": "ada.l@example.org",
                      "verified": false,
                      "primary": false,
                      "backup": false,
                      "created_at": "2026-10-05T14:12:03.000Z",
                      "verified_at": null
                    }
                  ],
                  "private_email": true,
                  "block_private_pushes": false,
                  "noreply": "6c1d0efg+ada@users.noreply.g1t.sh",
                  "commit_email": "6c1d0efg+ada@users.noreply.g1t.sh",
                  "limit": 10
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "The address to add."
                  },
                  "password": {
                    "type": "string",
                    "description": "Your account password, to confirm it is you. An account that signs in only with GitHub changes its addresses on g1t.sh."
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              },
              "example": {
                "email": "ada.l@example.org",
                "password": "…"
              }
            }
          }
        }
      }
    },
    "/user/emails/{email}": {
      "delete": {
        "operationId": "remove_email",
        "tags": [
          "Accounts"
        ],
        "summary": "Remove an email address",
        "description": "Remove an email address from your account. Never your primary address (make another primary first) and never your last confirmed one. Needs your account `password`; every confirmed address, the removed one included, is told. People only.\n\nGive the address in the path, URL-encoded: `DELETE /user/emails/ada.l%40example.org`. Answers `409` for your primary address or your last confirmed one.",
        "x-operation": "remove_email",
        "x-mcp-tool": "account",
        "x-mcp-action": "remove_email",
        "x-scope": "account:write",
        "security": [
          {
            "token": [
              "account:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The address to remove."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "emails": [
                    {
                      "email": "ada@example.com",
                      "verified": true,
                      "primary": true,
                      "backup": false,
                      "created_at": "2026-09-01T10:00:00.000Z",
                      "verified_at": "2026-09-01T10:02:11.000Z"
                    },
                    {
                      "email": "ada@acme.com",
                      "verified": true,
                      "primary": false,
                      "backup": true,
                      "created_at": "2026-10-02T09:30:00.000Z",
                      "verified_at": "2026-10-02T09:31:40.000Z"
                    },
                    {
                      "email": "ada.l@example.org",
                      "verified": false,
                      "primary": false,
                      "backup": false,
                      "created_at": "2026-10-05T14:12:03.000Z",
                      "verified_at": null
                    }
                  ],
                  "private_email": true,
                  "block_private_pushes": false,
                  "noreply": "6c1d0efg+ada@users.noreply.g1t.sh",
                  "commit_email": "6c1d0efg+ada@users.noreply.g1t.sh",
                  "limit": 10
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "Your account password, to confirm it is you. An account that signs in only with GitHub changes its addresses on g1t.sh."
                  }
                },
                "required": [
                  "password"
                ]
              },
              "example": {
                "password": "…"
              }
            }
          }
        }
      }
    },
    "/user/email-settings": {
      "patch": {
        "operationId": "update_email_settings",
        "tags": [
          "Accounts"
        ],
        "summary": "Change your email settings",
        "description": "Change what your addresses do; only the fields given change. `primary` is a confirmed address to make primary: account mail and password resets go there. `backup` is a confirmed address that also gets security notices, or an empty string for the primary only. Changing either needs your account `password`, and every confirmed address is told. `private_email` keeps your address off commits g1t makes for you (merges and changes made on the web, and agents' commits for you), which use your noreply address instead; `block_private_pushes` refuses pushes whose commits carry one of your addresses while it is private. People only.\n\nOnly the fields given change. `primary` and `backup` need `password`; `private_email` and `block_private_pushes` do not.",
        "x-operation": "update_email_settings",
        "x-mcp-tool": "account",
        "x-mcp-action": "update_email_settings",
        "x-scope": "account:write",
        "security": [
          {
            "token": [
              "account:write"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "emails": [
                    {
                      "email": "ada@example.com",
                      "verified": true,
                      "primary": true,
                      "backup": false,
                      "created_at": "2026-09-01T10:00:00.000Z",
                      "verified_at": "2026-09-01T10:02:11.000Z"
                    },
                    {
                      "email": "ada@acme.com",
                      "verified": true,
                      "primary": false,
                      "backup": true,
                      "created_at": "2026-10-02T09:30:00.000Z",
                      "verified_at": "2026-10-02T09:31:40.000Z"
                    },
                    {
                      "email": "ada.l@example.org",
                      "verified": false,
                      "primary": false,
                      "backup": false,
                      "created_at": "2026-10-05T14:12:03.000Z",
                      "verified_at": null
                    }
                  ],
                  "private_email": true,
                  "block_private_pushes": false,
                  "noreply": "6c1d0efg+ada@users.noreply.g1t.sh",
                  "commit_email": "6c1d0efg+ada@users.noreply.g1t.sh",
                  "limit": 10
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "primary": {
                    "type": "string",
                    "description": "A confirmed address to make primary."
                  },
                  "backup": {
                    "type": "string",
                    "description": "A confirmed address that also gets security notices; an empty string for the primary only."
                  },
                  "private_email": {
                    "type": "boolean",
                    "description": "Use your noreply address on commits g1t makes for you."
                  },
                  "block_private_pushes": {
                    "type": "boolean",
                    "description": "Refuse pushes whose commits carry one of your addresses while it is private."
                  },
                  "password": {
                    "type": "string",
                    "description": "Your account password, to confirm it is you. An account that signs in only with GitHub changes its addresses on g1t.sh."
                  }
                }
              },
              "example": {
                "primary": "ada@acme.com",
                "password": "…"
              }
            }
          }
        }
      }
    },
    "/user/invites": {
      "get": {
        "operationId": "list_invites",
        "tags": [
          "Invites"
        ],
        "summary": "List your invites",
        "description": "Your invites, newest first, and how many you have left. While g1t is invite-only, every new account needs an invite code. You may have 5 invites out at once: pending and used ones count, and one revoked or expired before it was used comes back. `allowance.limit` is null when you have no limit. `workspaces` lists the workspaces you own that were granted invites to share. A pending invite's `code` is shown to you; `status` is pending, redeemed, expired or revoked.\n\n`allowance.limit` and `allowance.remaining` are null when you have no limit. A revoked or expired invite that was never used is not counted. Ask for more at hey@flagon.io with the subject `[g1t Invites]`. See [Invites](/guides/authentication/#invites).",
        "x-operation": "list_invites",
        "x-mcp-tool": "account",
        "x-mcp-action": "list_invites",
        "x-scope": "account:read",
        "security": [
          {
            "token": [
              "account:read"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "mode": "invite",
                  "allowance": {
                    "limit": 5,
                    "used": 2,
                    "remaining": 3
                  },
                  "workspaces": [
                    {
                      "slug": "acme-labs",
                      "allowance": {
                        "limit": 20,
                        "used": 4,
                        "remaining": 16
                      }
                    }
                  ],
                  "invites": [
                    {
                      "id": "inv_01kp2x7m8n9q0r1s2t3v4w5x6y",
                      "code": "g1t-k7m2-q9xd-4hpw-…",
                      "hint": "g1t-k7m2",
                      "email": "ada@example.com",
                      "kind": "account",
                      "workspace": null,
                      "status": "pending",
                      "charged_to": "user",
                      "invited_by": "syntaqx",
                      "redeemed_by": null,
                      "created_at": "2026-10-05T17:00:00.000Z",
                      "expires_at": "2026-11-04T17:00:00.000Z",
                      "redeemed_at": null,
                      "revoked_at": null
                    },
                    {
                      "id": "inv_01kp1v3c4d5e6f7g8h9j0k1m2n",
                      "code": null,
                      "hint": "g1t-p3rt",
                      "email": null,
                      "kind": "account",
                      "workspace": null,
                      "status": "redeemed",
                      "charged_to": "user",
                      "invited_by": "syntaqx",
                      "redeemed_by": "grace",
                      "created_at": "2026-10-02T09:12:40.000Z",
                      "expires_at": "2026-11-01T09:12:40.000Z",
                      "redeemed_at": "2026-10-02T11:30:05.000Z",
                      "revoked_at": null
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "create_invite",
        "tags": [
          "Invites"
        ],
        "summary": "Create an invite",
        "description": "Make an invite. With `email`, it is sent there and only that address can use it; without, anyone with the code can, once. It works for 30 days. It uses one of your invites, or with `workspace`, one of the invites g1t granted that workspace (its owners only). Returns the invite with its `code`; the link is https://g1t.sh/invite/<code>. People only: an agent's token or a workspace's token cannot make invites.\n\nRefused with `402` (`limit`) when you have no invites left, with `409` when you already have a pending invite for that address or it already has a g1t account, and with `403` for an agent's or a workspace's token. The code is returned in full; send people the link `https://g1t.sh/invite/<code>`.",
        "x-operation": "create_invite",
        "x-mcp-tool": "account",
        "x-mcp-action": "create_invite",
        "x-scope": "account:write",
        "security": [
          {
            "token": [
              "account:write"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "id": "inv_01kp2x7m8n9q0r1s2t3v4w5x6y",
                  "code": "g1t-k7m2-q9xd-4hpw-…",
                  "hint": "g1t-k7m2",
                  "email": "ada@example.com",
                  "kind": "account",
                  "workspace": null,
                  "status": "pending",
                  "charged_to": "user",
                  "invited_by": "syntaqx",
                  "redeemed_by": null,
                  "created_at": "2026-10-05T17:00:00.000Z",
                  "expires_at": "2026-11-04T17:00:00.000Z",
                  "redeemed_at": null,
                  "revoked_at": null
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Only this address can use it, and it is emailed there. Left out, anyone with the code can."
                  },
                  "workspace": {
                    "type": "string",
                    "description": "Use one of the invites g1t granted this workspace instead of yours, by slug. Owners only."
                  }
                }
              },
              "example": {
                "email": "ada@example.com"
              }
            }
          }
        }
      }
    },
    "/user/invites/{id}": {
      "delete": {
        "operationId": "revoke_invite",
        "tags": [
          "Invites"
        ],
        "summary": "Revoke an invite",
        "description": "Revoke a pending invite you made, or one made for a workspace you own. It stops working at once, and the invite comes back to whoever it was charged to.",
        "x-operation": "revoke_invite",
        "x-mcp-tool": "account",
        "x-mcp-action": "revoke_invite",
        "x-scope": "account:write",
        "security": [
          {
            "token": [
              "account:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The invite's id, such as inv_01k…"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "id": "inv_01kp2x7m8n9q0r1s2t3v4w5x6y",
                  "code": null,
                  "hint": "g1t-k7m2",
                  "email": "ada@example.com",
                  "kind": "account",
                  "workspace": null,
                  "status": "revoked",
                  "charged_to": "user",
                  "invited_by": "syntaqx",
                  "redeemed_by": null,
                  "created_at": "2026-10-05T17:00:00.000Z",
                  "expires_at": "2026-11-04T17:00:00.000Z",
                  "redeemed_at": null,
                  "revoked_at": "2026-10-06T08:00:00.000Z"
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace}/invitations": {
      "get": {
        "operationId": "list_workspace_invites",
        "tags": [
          "Invites"
        ],
        "summary": "List a workspace's invites",
        "description": "The invites made for a workspace, newest first, with each pending one's `code`. Owners only.",
        "x-operation": "list_workspace_invites",
        "x-mcp-tool": "workspace",
        "x-mcp-action": "list_invites",
        "x-scope": "workspace:read",
        "security": [
          {
            "token": [
              "workspace:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace's slug, e.g. \"flagon-io\"."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": [
                  {
                    "id": "inv_01kp2x7m8n9q0r1s2t3v4w5x6y",
                    "code": "g1t-k7m2-q9xd-4hpw-…",
                    "hint": "g1t-k7m2",
                    "email": "ada@example.com",
                    "kind": "account",
                    "workspace": "acme-labs",
                    "status": "pending",
                    "charged_to": "workspace",
                    "invited_by": "syntaqx",
                    "redeemed_by": null,
                    "created_at": "2026-10-05T17:00:00.000Z",
                    "expires_at": "2026-11-04T17:00:00.000Z",
                    "redeemed_at": null,
                    "revoked_at": null
                  },
                  {
                    "id": "inv_01kp1z9y8x7w6v5t4s3r2q1p0n",
                    "code": "g1t-k7m2-q9xd-4hpw-…",
                    "hint": "g1t-w2vb",
                    "email": "linus@example.com",
                    "kind": "workspace",
                    "workspace": "acme-labs",
                    "status": "pending",
                    "charged_to": "none",
                    "invited_by": "syntaqx",
                    "redeemed_by": null,
                    "created_at": "2026-10-05T17:00:00.000Z",
                    "expires_at": "2026-11-04T17:00:00.000Z",
                    "redeemed_at": null,
                    "revoked_at": null
                  }
                ]
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "invite_member",
        "tags": [
          "Invites"
        ],
        "summary": "Invite someone to a workspace",
        "description": "Invite an email address into a workspace. It always makes an invite bound to that address and emails it the link, so the answer never says whether the address has a g1t account. Without one, accepting makes the account and joins the workspace in one step, and uses one of the workspace's granted invites, or else one of yours. With one, it costs nothing, and they join when they accept. To add someone by username at once, use the workspace's People page. Owners only.\n\n`kind` is `workspace` when the address already has a g1t account (`charged_to` is then `none`), and `account` when accepting makes one. Both answers look alike to the caller on purpose: the invite is emailed either way.",
        "x-operation": "invite_member",
        "x-mcp-tool": "workspace",
        "x-mcp-action": "invite_member",
        "x-scope": "workspace:admin",
        "security": [
          {
            "token": [
              "workspace:admin"
            ]
          }
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace's slug, e.g. \"flagon-io\"."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "id": "inv_01kp2x7m8n9q0r1s2t3v4w5x6y",
                  "code": "g1t-k7m2-q9xd-4hpw-…",
                  "hint": "g1t-k7m2",
                  "email": "ada@example.com",
                  "kind": "account",
                  "workspace": "acme-labs",
                  "status": "pending",
                  "charged_to": "workspace",
                  "invited_by": "syntaqx",
                  "redeemed_by": null,
                  "created_at": "2026-10-05T17:00:00.000Z",
                  "expires_at": "2026-11-04T17:00:00.000Z",
                  "redeemed_at": null,
                  "revoked_at": null
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "The address to invite."
                  }
                },
                "required": [
                  "email"
                ]
              },
              "example": {
                "email": "ada@example.com"
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace}/invitations/{id}": {
      "delete": {
        "operationId": "revoke_workspace_invite",
        "tags": [
          "Invites"
        ],
        "summary": "Revoke a workspace's invite",
        "description": "Revoke a workspace's pending invite. Owners only.",
        "x-operation": "revoke_workspace_invite",
        "x-mcp-tool": "workspace",
        "x-mcp-action": "revoke_invite",
        "x-scope": "workspace:admin",
        "security": [
          {
            "token": [
              "workspace:admin"
            ]
          }
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace's slug, e.g. \"flagon-io\"."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The invite's id."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "id": "inv_01kp2x7m8n9q0r1s2t3v4w5x6y",
                  "code": null,
                  "hint": "g1t-k7m2",
                  "email": "ada@example.com",
                  "kind": "account",
                  "workspace": "acme-labs",
                  "status": "revoked",
                  "charged_to": "workspace",
                  "invited_by": "syntaqx",
                  "redeemed_by": null,
                  "created_at": "2026-10-05T17:00:00.000Z",
                  "expires_at": "2026-11-04T17:00:00.000Z",
                  "redeemed_at": null,
                  "revoked_at": "2026-10-06T08:00:00.000Z"
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/repos/{owner}/{name}/collaborators": {
      "get": {
        "operationId": "list_collaborators",
        "tags": [
          "Access"
        ],
        "summary": "List who has access",
        "description": "Who has access to a repository: the workspace's `base_permission`, and `people`, everyone with a role on it other than through it being public. Each person has their effective `role` (read, triage, write, maintain or admin), its `source` (`owner` of the workspace, the workspace's `base` permission, or a `direct` role on this repository), their `direct` role if they have one, and their `workspace_role` (`owner`, `member`, or null for an outside collaborator). Pending `invitations` are listed for those with the Admin role, and empty for anyone else. `viewer_role` is your own role, and `can_manage` whether you may change who has access. Needs the Write role or higher. People only.\n\nOwners are listed with `source` `owner`, members with the base permission with `base`, and anyone given a role on this repository with `direct`; `role` is the highest of these, and `direct` shows a direct role even when ownership or the base permission gives more. `workspace_role` null means an outside collaborator. Anyone can read a public repository, which is not listed. `invitations` is empty unless you have the Admin role (`can_manage`). Refused with `403` below the Write role, and `404` for a private repository you cannot see. See [Access and roles](/guides/access-and-roles/).",
        "x-operation": "list_collaborators",
        "x-mcp-tool": "access",
        "x-mcp-action": "list_collaborators",
        "x-scope": "access:read",
        "security": [
          {
            "token": [
              "access:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace that owns the repository."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The repository's name."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "repo": "flagon-io/hello",
                  "base_permission": "write",
                  "people": [
                    {
                      "username": "syntaqx",
                      "name": "Chase Pierce",
                      "avatar": null,
                      "role": "admin",
                      "source": "owner",
                      "direct": null,
                      "workspace_role": "owner"
                    },
                    {
                      "username": "linus",
                      "name": null,
                      "avatar": null,
                      "role": "maintain",
                      "source": "direct",
                      "direct": "maintain",
                      "workspace_role": "member"
                    },
                    {
                      "username": "grace",
                      "name": "Grace Hopper",
                      "avatar": null,
                      "role": "write",
                      "source": "base",
                      "direct": null,
                      "workspace_role": "member"
                    },
                    {
                      "username": "ada",
                      "name": "Ada Lovelace",
                      "avatar": null,
                      "role": "triage",
                      "source": "direct",
                      "direct": "triage",
                      "workspace_role": null
                    }
                  ],
                  "invitations": [
                    {
                      "id": "rin_01kp3c4d5e6f7g8h9j0k1m2n3p",
                      "repo": "flagon-io/hello",
                      "repo_id": "rep_01m3m5q6p0e2qaw6mmjahk0qrr",
                      "invitee": "alan",
                      "email": null,
                      "role": "write",
                      "invited_by": "syntaqx",
                      "inviter_avatar": null,
                      "status": "pending",
                      "created_at": "2026-10-05T17:00:00.000Z",
                      "expires_at": "2026-10-12T17:00:00.000Z"
                    },
                    {
                      "id": "rin_01kp3d7e8f9g0h1j2k3m4n5p6q",
                      "repo": "flagon-io/hello",
                      "repo_id": "rep_01m3m5q6p0e2qaw6mmjahk0qrr",
                      "invitee": null,
                      "email": "joan@example.com",
                      "role": "read",
                      "invited_by": "syntaqx",
                      "inviter_avatar": null,
                      "status": "pending",
                      "created_at": "2026-10-05T17:00:00.000Z",
                      "expires_at": "2026-10-12T17:00:00.000Z"
                    }
                  ],
                  "viewer_role": "admin",
                  "can_manage": true
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "add_collaborator",
        "tags": [
          "Access"
        ],
        "summary": "Add a collaborator",
        "description": "Give someone a role on a repository, by username or email address. A member of its workspace gets the role at once (`result` is `granted`, with the `collaborator`). Anyone else becomes an outside collaborator once they accept an invitation, which is emailed to them and waits 7 days (`result` is `invited`, with the `invitation`); an address with no g1t account is sent an invite that makes the account and accepts in one step. The role is read, triage, write, maintain or admin. Needs the Admin role on the repository, signed in as a person with a confirmed email address; agents' and workspaces' tokens are refused.\n\n`invitee` is a username or an email address. A member of the workspace answers `{\"result\": \"granted\", \"collaborator\": {…}}` with the role already given, shown as list_collaborators shows a person. Anyone else answers `{\"result\": \"invited\", \"invitation\": {…}}`: the invitation is emailed and waits 7 days, and the role is theirs once they accept it. An email address without an account gets an invitation with `email` set and `invitee` null, and an invite that makes the account and accepts in one step. Refused with `404` when no account has that username, `409` when they already have a role of their own or a pending invitation (change it with update_collaborator), and `403` without the Admin role, from an agent's or a workspace's token, or when the person does not meet what the workspace asks of everyone with access. The `repo.collaborator_added` webhook event is sent once they have the role. See [Access and roles](/guides/access-and-roles/).",
        "x-operation": "add_collaborator",
        "x-mcp-tool": "access",
        "x-mcp-action": "add_collaborator",
        "x-scope": "access:admin",
        "security": [
          {
            "token": [
              "access:admin"
            ]
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace that owns the repository."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The repository's name."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "result": "invited",
                  "invitation": {
                    "id": "rin_01kp3e9f0g1h2j3k4m5n6p7q8r",
                    "repo": "flagon-io/hello",
                    "repo_id": "rep_01m3m5q6p0e2qaw6mmjahk0qrr",
                    "invitee": "ada",
                    "email": null,
                    "role": "triage",
                    "invited_by": "syntaqx",
                    "inviter_avatar": null,
                    "status": "pending",
                    "created_at": "2026-10-05T17:00:00.000Z",
                    "expires_at": "2026-10-12T17:00:00.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "invitee": {
                    "type": "string",
                    "description": "A username, or an email address. An address confirmed on an account invites that account; any other address is sent an invite that makes the account."
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "read",
                      "triage",
                      "write",
                      "maintain",
                      "admin"
                    ],
                    "description": "read: read and comment. triage: also label, assign and close. write: also push, merge and put agents to work. maintain: also settings and branch protection. admin: everything, including who has access."
                  }
                },
                "required": [
                  "invitee",
                  "role"
                ]
              },
              "example": {
                "invitee": "ada",
                "role": "triage"
              }
            }
          }
        }
      }
    },
    "/repos/{owner}/{name}/collaborators/{username}": {
      "patch": {
        "operationId": "update_collaborator",
        "tags": [
          "Access"
        ],
        "summary": "Change a collaborator's role",
        "description": "Change the role someone was given on a repository directly, or the role of their pending invitation. A role from ownership or the workspace's base permission is not changed here: an owner always has Admin, and a member never has less than the base permission. Needs the Admin role. People only.\n\nChanges a direct role, or the role of the person's pending invitation. `404` when they have neither: an owner's Admin and a member's base permission are not changed here. Changing a direct role sends the `repo.collaborator_role_changed` webhook event. See [Access and roles](/guides/access-and-roles/).",
        "x-operation": "update_collaborator",
        "x-mcp-tool": "access",
        "x-mcp-action": "update_collaborator",
        "x-scope": "access:admin",
        "security": [
          {
            "token": [
              "access:admin"
            ]
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace that owns the repository."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The repository's name."
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The person's username."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "username": "ada",
                  "name": "Ada Lovelace",
                  "avatar": null,
                  "role": "write",
                  "source": "direct",
                  "direct": "write",
                  "workspace_role": null
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "read",
                      "triage",
                      "write",
                      "maintain",
                      "admin"
                    ],
                    "description": "read: read and comment. triage: also label, assign and close. write: also push, merge and put agents to work. maintain: also settings and branch protection. admin: everything, including who has access."
                  }
                },
                "required": [
                  "role"
                ]
              },
              "example": {
                "role": "write"
              }
            }
          }
        },
        "x-example-params": {
          "owner": "flagon-io",
          "name": "hello",
          "username": "ada"
        }
      },
      "delete": {
        "operationId": "remove_collaborator",
        "tags": [
          "Access"
        ],
        "summary": "Remove a collaborator",
        "description": "Take away the role someone was given on a repository directly. Anyone may remove their own. An outside collaborator then has no access; a member keeps the workspace's base permission (change it with set_base_permission, or remove them from the workspace). Needs the Admin role, unless it is your own. People only.\n\nTakes away a direct role. Anyone may remove their own, to leave a repository. `404` when the person has no role of their own on it. A member keeps the workspace's base permission. Sends the `repo.collaborator_removed` webhook event. See [Access and roles](/guides/access-and-roles/).",
        "x-operation": "remove_collaborator",
        "x-mcp-tool": "access",
        "x-mcp-action": "remove_collaborator",
        "x-scope": "access:admin",
        "security": [
          {
            "token": [
              "access:admin"
            ]
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace that owns the repository."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The repository's name."
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The person's username."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": true
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-example-params": {
          "owner": "flagon-io",
          "name": "hello",
          "username": "ada"
        }
      }
    },
    "/repos/{owner}/{name}/collaborators/{username}/permission": {
      "get": {
        "operationId": "get_collaborator_permission",
        "tags": [
          "Access"
        ],
        "summary": "Get someone's permission",
        "description": "Someone's permission on a repository: their `role` and its `source` (`owner`, `base` or `direct`), or null for both when they have none, and the `capabilities` that role has, from the permission table. Being able to read a public repository does not count as a role. Needs the Write role or higher, or to ask about yourself.\n\n`capabilities` lists what the role allows, in the table's order: `read`, `participate`, `triage`, `push`, `merge`, `run`, `manage_settings`, `manage_protection`, `manage_integrations`, `manage_access`, `administer` and `delete` (which also takes an owner of the workspace). `role` and `source` are null, and `capabilities` empty, for someone with no role. Refused with `403` below the Write role, unless you ask about yourself. See [Access and roles](/guides/access-and-roles/).",
        "x-operation": "get_collaborator_permission",
        "x-mcp-tool": "access",
        "x-mcp-action": "get_permission",
        "x-scope": "access:read",
        "security": [
          {
            "token": [
              "access:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace that owns the repository."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The repository's name."
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The person's username."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "username": "ada",
                  "role": "triage",
                  "source": "direct",
                  "capabilities": [
                    "read",
                    "participate",
                    "triage"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-example-params": {
          "owner": "flagon-io",
          "name": "hello",
          "username": "ada"
        }
      }
    },
    "/repos/{owner}/{name}/invitations": {
      "get": {
        "operationId": "list_repo_invitations",
        "tags": [
          "Access"
        ],
[...]
