{
  "openapi": "3.1.0",
  "info": {
    "title": "g1t API",
    "version": "1",
    "description": "The REST API for g1t, a git forge built for agents. The same operations are available to agents as MCP tools at https://mcp.g1t.sh. Every name in a request or response body is `snake_case`; names you chose, such as a workflow's inputs or a secret's name, are returned as you wrote them.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.g1t.sh"
    }
  ],
  "security": [
    {
      "token": []
    },
    {}
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Signing in from a tool, who a token acts as, and your email addresses.",
      "x-tools": [
        "whoami",
        "list_emails",
        "add_email",
        "confirm_email",
        "remove_email",
        "update_email_settings"
      ]
    },
    {
      "name": "Notifications",
      "description": "Your inbox: a thread for each thing you were told about (an issue, a pull request, a workflow on a branch, a deployment), why you were told, and what you subscribe to and watch. Your own: personal tokens and sessions only.",
      "x-tools": [
        "list_notifications",
        "mark_notifications_read",
        "get_notification_thread",
        "mark_thread_read",
        "mark_thread_done",
        "save_thread",
        "snooze_thread",
        "get_thread_subscription",
        "set_thread_subscription",
        "delete_thread_subscription",
        "get_repo_subscription",
        "set_repo_subscription",
        "delete_repo_subscription",
        "list_watched_repos"
      ]
    },
    {
      "name": "Pinned projects",
      "description": "The projects you keep at the top of a workspace's sidebar, in your order, up to eight a workspace. Your own: personal tokens and sessions only.",
      "x-tools": [
        "list_pinned_projects",
        "pin_project",
        "unpin_project",
        "reorder_pinned_projects"
      ]
    },
    {
      "name": "Projects",
      "description": "A project is what a workspace builds and runs, from a repository or a root directory in one. Each says what it is, where it runs and where to find it: its homepage, docs and other links.",
      "x-tools": [
        "list_projects",
        "get_project",
        "update_project"
      ]
    },
    {
      "name": "Workspaces",
      "description": "A workspace owns repositories and is the first part of their address. People and agents work in workspaces.",
      "x-tools": [
        "get_workspace",
        "create_workspace",
        "update_workspace",
        "delete_workspace"
      ]
    },
    {
      "name": "Personal access tokens",
      "description": "A workspace's rules for its members' personal access tokens: whether classic and fine-grained tokens reach it, whether fine-grained tokens wait for an owner's approval, and how long a token may last; the tokens that reach it, approving or denying the ones that wait, and revoking one there. Owners only, as people.",
      "x-tools": [
        "get_token_policy",
        "set_token_policy",
        "list_member_tokens",
        "list_token_requests",
        "review_token_request",
        "revoke_member_token"
      ]
    },
    {
      "name": "Members",
      "description": "A workspace's members and owners: who belongs to it, their roles (owner or member, with billing manager and security manager on top), handing it to another member, and leaving it.",
      "x-tools": [
        "list_members",
        "update_member",
        "remove_member",
        "transfer_ownership",
        "leave_workspace"
      ]
    },
    {
      "name": "Invites",
      "description": "While g1t is invite-only, every new account needs an invite. Your invites, inviting people into a workspace by username or email, and answering the invitations to workspaces sent to you.",
      "x-tools": [
        "list_invites",
        "create_invite",
        "revoke_invite",
        "list_workspace_invites",
        "invite_member",
        "revoke_workspace_invite",
        "list_invitations",
        "accept_invitation",
        "decline_invitation"
      ]
    },
    {
      "name": "Billing",
      "description": "A workspace's usage, its budget, its AI credit, its invoices and its AI Gateway requests. Members read them; owners change the budget and buy credit, as people. g1t's agents never change billing.",
      "x-tools": [
        "get_usage",
        "get_budget",
        "set_budget",
        "get_ai_credit",
        "buy_ai_credit",
        "list_invoices",
        "get_billing_details",
        "list_gateway_requests"
      ]
    },
    {
      "name": "Repositories",
      "description": "A repository, how it handles pull requests, and its timeline: renaming, archiving, moving and deleting it.",
      "x-tools": [
        "list_repos",
        "create_repo",
        "get_repo",
        "update_repo",
        "rename_repo",
        "rename_branch",
        "set_repo_visibility",
        "archive_repo",
        "unarchive_repo",
        "transfer_repo",
        "delete_repo",
        "list_deleted_repos",
        "restore_repo",
        "purge_repo",
        "get_repo_settings",
        "update_repo_settings",
        "list_check_names",
        "get_codeowners_errors",
        "list_events"
      ]
    },
    {
      "name": "Repository insights",
      "description": "What a repository's default branch says about it, read in the background and kept by commit: the languages it is written in, who made it, and its license.",
      "x-tools": [
        "get_languages",
        "list_contributors",
        "get_license"
      ]
    },
    {
      "name": "Stars",
      "description": "Starring a repository, to keep it and to say you like it: who starred one, and what you starred.",
      "x-tools": [
        "list_stargazers",
        "list_starred",
        "check_starred",
        "star_repo",
        "unstar_repo"
      ]
    },
    {
      "name": "Releases",
      "description": "A release is a tag published with a title and notes. The latest is the newest published one that is neither a draft nor a prerelease.",
      "x-tools": [
        "list_releases",
        "create_release",
        "get_latest_release",
        "get_release_by_tag",
        "get_release",
        "update_release",
        "delete_release"
      ]
    },
    {
      "name": "Access",
      "description": "Who can do what in a repository: repository roles, people given a role on one repository (outside collaborators when they are not members), invitations, a workspace's base permission, and deploy keys: SSH keys that reach one repository.",
      "x-tools": [
        "list_collaborators",
        "add_collaborator",
        "update_collaborator",
        "remove_collaborator",
        "get_collaborator_permission",
        "list_repo_invitations",
        "revoke_repo_invitation",
        "list_my_repo_invitations",
        "accept_repo_invitation",
        "decline_repo_invitation",
        "set_base_permission",
        "list_outside_collaborators",
        "list_deploy_keys",
        "get_deploy_key",
        "create_deploy_key",
        "delete_deploy_key"
      ]
    },
    {
      "name": "Teams",
      "description": "Groups of a workspace's members: given a role on repositories together, mentioned together as @workspace/team, and asked to review together. Any member may create a team; the workspace's owners and the team's maintainers manage it.",
      "x-tools": [
        "list_teams",
        "create_team",
        "get_team",
        "update_team",
        "delete_team",
        "list_team_members",
        "set_team_member",
        "remove_team_member",
        "list_child_teams",
        "list_team_repos",
        "set_team_repo",
        "remove_team_repo",
        "set_team_review_assignment",
        "list_user_teams"
      ]
    },
    {
      "name": "Security",
      "description": "Secrets found in what is pushed and in a repository's history, and dependencies with known vulnerabilities: listing the alerts, and dismissing or reopening them.",
      "x-tools": [
        "list_security_alerts",
        "dismiss_security_alert",
        "reopen_security_alert"
      ]
    },
    {
      "name": "Secret scanning",
      "description": "Secrets found in pushes and history, where each one is, pushing past push protection with a reason (and asking for approval when the workspace delegates bypasses), checking with a secret's issuer whether it still works, and custom patterns.",
      "x-tools": [
        "list_secret_scanning_alerts",
        "get_secret_scanning_alert",
        "update_secret_scanning_alert",
        "list_secret_scanning_locations",
        "bypass_push_protection",
        "check_secret_validity",
        "list_bypass_requests",
        "review_bypass_request",
        "list_custom_patterns",
        "create_custom_pattern",
        "update_custom_pattern",
        "delete_custom_pattern",
        "dry_run_custom_pattern"
      ]
    },
    {
      "name": "Code scanning",
      "description": "Results of static analysis tools, uploaded as SARIF: alerts on the default branch, the analyses that made them, uploads, and putting g1t on an alert to fix it.",
      "x-tools": [
        "list_code_scanning_alerts",
        "get_code_scanning_alert",
        "update_code_scanning_alert",
        "list_code_scanning_analyses",
        "upload_sarif",
        "get_sarif_upload",
        "fix_security_alert"
      ]
    },
    {
      "name": "Supply chain",
      "description": "What a repository depends on: vulnerability alerts, the dependency graph, an SPDX SBOM of it, and comparing two commits' dependencies as dependency review does.",
      "x-tools": [
        "list_vulnerability_alerts",
        "get_vulnerability_alert",
        "update_vulnerability_alert",
        "get_dependency_graph",
        "get_sbom",
        "compare_dependencies"
      ]
    },
    {
      "name": "Security settings",
      "description": "When pull request checks fail, dependency review's policy, delegated bypass and validity checks, and a workspace's security overview.",
      "x-tools": [
        "get_security_settings",
        "update_security_settings",
        "get_workspace_security_settings",
        "update_workspace_security_settings",
        "get_security_overview"
      ]
    },
    {
      "name": "Rules",
      "description": "Rulesets: what may happen to a repository's branches and tags and what a pull request needs before it merges, for a repository or across a workspace; the rules that hold for one branch; and how they judged each push and merge, with insights.",
      "x-tools": [
        "list_repo_rulesets",
        "create_repo_ruleset",
        "get_repo_ruleset",
        "update_repo_ruleset",
        "delete_repo_ruleset",
        "get_branch_rules",
        "list_rule_evaluations",
        "list_workspace_rulesets",
        "create_workspace_ruleset",
        "get_workspace_ruleset",
        "update_workspace_ruleset",
        "delete_workspace_ruleset",
        "list_workspace_rule_evaluations"
      ]
    },
    {
      "name": "Checks",
      "description": "What CI, integrations and g1t Actions say about a commit, in the shapes CI tools already send: statuses (a state per context) and check runs (a lifecycle, a conclusion, a Markdown report, annotations on lines and buttons), grouped per reporter into check suites. g1t Actions jobs are check runs too. Required checks are met by either.",
      "x-tools": [
        "create_commit_status",
        "list_commit_statuses",
        "get_combined_status",
        "create_check_run",
        "update_check_run",
        "get_check_run",
        "list_check_run_annotations",
        "rerequest_check_run",
        "list_check_runs_for_ref",
        "list_check_suites_for_ref",
        "get_check_suite",
        "rerequest_check_suite"
      ]
    },
    {
      "name": "Issues",
      "description": "What should change in a repository, with labels and comments. Issues and pull requests share one sequence of numbers.",
      "x-tools": [
        "list_issues",
        "create_issue",
        "get_issue",
        "update_issue",
        "close_issue",
        "reopen_issue",
        "assign_issue",
        "delegate",
        "add_comment",
        "edit_comment",
        "delete_comment",
        "list_issue_labels",
        "add_issue_labels",
        "set_issue_labels",
        "remove_issue_labels"
      ]
    },
    {
      "name": "Labels and milestones",
      "description": "A repository's labels, which issues and pull requests carry by name, and its milestones, which gather them under a goal and a due date.",
      "x-tools": [
        "list_labels",
        "create_label",
        "update_label",
        "delete_label",
        "add_default_labels",
        "list_milestones",
        "create_milestone",
        "get_milestone",
        "update_milestone",
        "delete_milestone"
      ]
    },
    {
      "name": "Plans",
      "description": "An outcome turned into the issues that would get there, with the order they must merge in.",
      "x-tools": [
        "plan_work",
        "get_plan",
        "apply_plan"
      ]
    },
    {
      "name": "Pull requests",
      "description": "A proposed change in its own fork or on a branch. Several can be made for one issue; the one merged resolves it.",
      "x-tools": [
        "list_pull_requests",
        "create_pull_request",
        "get_pull_request",
        "update_pull_request",
        "get_pull_request_changes",
        "mark_pull_request_ready",
        "convert_pull_request_to_draft",
        "request_reviewers",
        "remove_requested_reviewers",
        "review_pull_request",
        "merge_pull_request",
        "close_pull_request",
        "reopen_pull_request",
        "get_merge_queue",
        "message_agent",
        "answer_message",
        "take_messages"
      ]
    },
    {
      "name": "Sessions",
      "description": "The record of how a pull request was made: prompts, reasoning and the tools that ran.",
      "x-tools": [
        "read_session",
        "record_session"
      ]
    },
    {
      "name": "Memory",
      "description": "What agents and people learned that the next agent should know, for one project or across a workspace. Members and g1t's agents only; never a secret.",
      "x-tools": [
        "remember",
        "recall"
      ]
    },
    {
      "name": "Search",
      "description": "One search across all of g1t: repositories, code, issues, pull requests, people and workspaces. Public content for everyone, and private content in workspaces you belong to.",
      "x-tools": [
        "search"
      ]
    },
    {
      "name": "Context",
      "description": "A workspace's context hub: a catalog of what it builds and runs, built from its repositories, deployments and integrations, and one search across the catalog, docs, issues, pull requests and memory.",
      "x-tools": [
        "search_context",
        "get_entity"
      ]
    },
    {
      "name": "Actions",
      "description": "GitHub Actions workflows in .g1t/workflows, their runs, and their jobs' logs.",
      "x-tools": [
        "list_workflows",
        "list_workflow_runs",
        "get_workflow_run",
        "get_job_logs",
        "dispatch_workflow",
        "cancel_workflow_run",
        "rerun_workflow_run",
        "update_workflow",
        "list_artifacts",
        "list_workflow_run_artifacts",
        "get_artifact",
        "download_artifact",
        "delete_artifact",
        "get_artifact_retention",
        "set_artifact_retention"
      ]
    },
    {
      "name": "Packages",
      "description": "A workspace's packages in every registry: their versions and download counts, deleting and restoring them within 30 days, their visibility and repository, the people and teams with a role on them, and which repositories' workflows may use them (Manage Actions access). A package is named by its type and its name, URL-encoded where it holds a slash.",
      "x-tools": [
        "list_packages",
        "get_package",
        "update_package",
        "delete_package",
        "restore_package",
        "list_package_versions",
        "get_package_version",
        "delete_package_version",
        "restore_package_version",
        "link_package",
        "unlink_package",
        "list_package_access",
        "set_package_access",
        "remove_package_access",
        "list_package_actions_access",
        "set_package_actions_access",
        "remove_package_actions_access"
      ]
    },
    {
      "name": "Deployments",
      "description": "A repository's deployments wherever they run: reported from any CI with these routes, made by g1t Actions jobs with an `environment:`, or built on g1t.page. Each has statuses, shows on its commit as the check `deploy / <environment>`, and belongs to an environment.",
      "x-tools": [
        "list_deployments",
        "create_deployment",
        "get_deployment",
        "list_deployment_statuses",
        "create_deployment_status",
        "list_environments",
        "get_environment"
      ]
    },
    {
      "name": "Run protection",
      "description": "What keeps workflow runs safe: environments' protection rules (required reviewers, a wait timer, which branches may deploy) and the reviews of the jobs they hold, approving a pull request's run from outside, what a job's token gets when its workflow writes no `permissions:`, and repository_dispatch, which a job's own token may send.",
      "x-tools": [
        "update_environment",
        "delete_environment",
        "get_pending_deployments",
        "review_pending_deployments",
        "approve_workflow_run",
        "get_workflow_permissions",
        "set_workflow_permissions",
        "get_fork_pr_approval",
        "set_fork_pr_approval",
        "get_actions_access",
        "set_actions_access",
        "create_repository_dispatch",
        "get_workspace_workflow_permissions",
        "set_workspace_workflow_permissions"
      ]
    },
    {
      "name": "Secrets and variables",
      "description": "Values that workflows and deployments read, per repository or for a whole workspace, with a row per environment.",
      "x-tools": [
        "list_actions_secrets",
        "set_actions_secret",
        "delete_actions_secret",
        "list_actions_variables",
        "set_actions_variable",
        "delete_actions_variable"
      ]
    },
    {
      "name": "Runners",
      "description": "Self-hosted runners: your own machines, which run your workflow jobs (and, if you choose, your agents' work) for $0 of g1t compute. They register with a short-lived token and only ever connect out.",
      "x-tools": [
        "list_runners",
        "create_runner_registration_token",
        "remove_runner",
        "list_runner_groups",
        "create_runner_group",
        "update_runner_group",
        "delete_runner_group",
        "get_runner_settings",
        "update_runner_settings"
      ]
    },
    {
      "name": "Webhooks",
      "description": "Signed HTTPS requests sent to your own address as things happen, for a repository or a whole workspace.",
      "x-tools": [
        "list_webhooks",
        "create_webhook",
        "update_webhook",
        "delete_webhook",
        "ping_webhook",
        "list_webhook_deliveries",
        "redeliver_webhook"
      ]
    },
    {
      "name": "Integrations",
      "description": "A workspace's connections to outside systems: model providers, alert sources and issue trackers.",
      "x-tools": [
        "list_integrations",
        "connect_integration",
        "update_integration",
        "disconnect_integration",
        "test_integration",
        "get_model_routes",
        "set_model_routes",
        "get_context",
        "import_issue"
      ]
    }
  ],
  "paths": {
    "/device/code": {
      "post": {
        "operationId": "device_code",
        "tags": [
          "Accounts"
        ],
        "summary": "Start signing in",
        "description": "Begins a device sign-in. Show the person `verification_uri_complete` and have them open it in a browser, where they sign in or register and approve the code. Then poll `/device/token`.",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_name": {
                    "type": "string",
                    "description": "What is asking, shown to the person approving. For example, Claude Code."
                  }
                }
              },
              "example": {
                "client_name": "Claude Code"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The codes for this sign-in.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device_code": {
                      "type": "string",
                      "description": "Secret. Send it to /device/token."
                    },
                    "user_code": {
                      "type": "string",
                      "description": "Shown to the person, like WDJB-MJHT."
                    },
                    "verification_uri": {
                      "type": "string"
                    },
                    "verification_uri_complete": {
                      "type": "string",
                      "description": "The link to give the person; it carries the code."
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Seconds until the codes expire."
                    },
                    "interval": {
                      "type": "integer",
                      "description": "Seconds to wait between polls."
                    }
                  }
                },
                "example": {
                  "device_code": "Gm3k…",
                  "user_code": "WDJB-MJHT",
                  "verification_uri": "https://g1t.sh/device",
                  "verification_uri_complete": "https://g1t.sh/device?code=WDJB-MJHT",
                  "expires_in": 900,
                  "interval": 5
                }
              }
            }
          }
        }
      }
    },
    "/device/token": {
      "post": {
        "operationId": "device_token",
        "tags": [
          "Accounts"
        ],
        "summary": "Finish signing in",
        "description": "Asks whether the person has approved. Poll no faster than the interval. The token is returned once.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "device_code"
                ],
                "properties": {
                  "device_code": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "device_code": "Gm3k…"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The state of the sign-in.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "approved",
                        "denied",
                        "expired"
                      ]
                    },
                    "token": {
                      "type": "string",
                      "description": "Present when approved."
                    },
                    "username": {
                      "type": "string"
                    },
                    "verified": {
                      "type": "boolean",
                      "description": "Whether the account's email is confirmed."
                    }
                  }
                },
                "example": {
                  "status": "approved",
                  "token": "g1t_…",
                  "username": "syntaqx",
                  "verified": true
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "operationId": "whoami",
        "tags": [
          "Accounts"
        ],
        "summary": "Get the current user",
        "description": "Who the access token acts as, and the workspaces it can work in. `kind` is `user` for a person's token, `workspace` for a token that belongs to a workspace, and `agent` for the token a g1t agent works with.\n\n`token` is what the access token you called with may do: its `scopes` (left out for full access) and `legacy` when it was made before tokens had scopes. A token reaches every workspace and repository whoever it acts as can; its scopes say what it may do there. See [Scopes](/guides/authentication/#scopes). `kind` is `user`, `workspace` for a [workspace access token](/guides/workspaces/#workspace-access-tokens), or `agent` for the token a g1t agent works with. For a workspace token, `username` is the workspace's slug and `workspaces` holds only that workspace. Each workspace carries its `base_permission`: what a member gets on each of its repositories (owners have Admin). Roles given on single repositories are in `grants`, each with `repo_id`, `workspace` and `role`; it is left out when there are none. See [Access and roles](/guides/access-and-roles/).",
        "x-operation": "whoami",
        "x-mcp-tool": "account",
        "x-mcp-action": "whoami",
        "x-scope": null,
        "security": [
          {
            "token": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "id": "usr_01kkntcg1eeb98j62xjm7eh09p",
                  "username": "syntaqx",
                  "kind": "user",
                  "verified": true,
                  "workspaces": [
                    {
                      "slug": "acme",
                      "role": "member",
                      "base_permission": "write"
                    },
                    {
                      "slug": "flagon-io",
                      "role": "owner",
                      "base_permission": "write"
                    }
                  ],
                  "token": {
                    "token_id": "tok_01kkntd3p2v8x6ym5r0c1q7a9e",
                    "scopes": [
                      "repo:read",
                      "issues:read",
                      "issues:write",
                      "pull_requests:read",
                      "pull_requests:write"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces": {
      "post": {
        "operationId": "create_workspace",
        "tags": [
          "Workspaces"
        ],
        "summary": "Create a workspace",
        "description": "Create a workspace. A workspace owns repositories and is the first part of their address: g1t.sh/{workspace}/{repo}. The whoami tool lists the ones you already belong to. A new workspace is free, and each person can own one free workspace: if you already own one (or several, from before), this is refused with `payment_required` (402) until each workspace you own is on the g1t plan or deleted. Workspaces with the plan, an enterprise's terms or a full discount do not count.\n\n`base_permission` is what every member gets on each of its repositories: `read` for a new workspace until an owner changes it with `PATCH /workspaces/{workspace}` or `PUT /workspaces/{workspace}/base_permission`. See [Access and roles](/guides/access-and-roles/). `team_creation` is who may create its teams: `members` (any member) until an owner sets `owners` with `PATCH /workspaces/{workspace}`. A new workspace is free, and each person owns at most one free workspace: while you own one, this answers `402` with `payment_required` and says which, until it is on the plan or deleted. See [One free workspace per person](/guides/usage-and-billing/#one-free-workspace-per-person).",
        "x-operation": "create_workspace",
        "x-mcp-tool": "workspace",
        "x-mcp-action": "create",
        "x-scope": "workspace:admin",
        "security": [
          {
            "token": [
              "workspace:admin"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "id": "wsp_01m43teqa9em6bje0bhvdj4jkb",
                  "slug": "acme-labs",
                  "name": "Acme Labs",
                  "description": null,
                  "created_at": "2026-10-04T16:02:51.337Z",
                  "member_count": 1,
                  "base_permission": "read",
                  "team_creation": "members",
                  "members_can_create_public_repositories": true,
                  "members_can_create_private_repositories": true,
                  "members_can_change_repo_visibility": true,
                  "members_can_delete_repositories": false,
                  "members_can_invite_outside_collaborators": true,
                  "two_factor_requirement_enabled": false
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string",
                    "description": "Its name in URLs: lowercase letters, digits and single hyphens."
                  },
                  "name": {
                    "type": "string",
                    "description": "A display name."
                  }
                },
                "required": [
                  "slug"
                ]
              },
              "example": {
                "slug": "acme-labs",
                "name": "Acme Labs"
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace}": {
      "get": {
        "operationId": "get_workspace",
        "tags": [
          "Workspaces"
        ],
        "summary": "Get a workspace",
        "description": "One workspace you belong to: its name, description and member count, what every member gets on each of its repositories (base_permission), who may create its teams (team_creation: members or owners), its member privileges (members_can_create_public_repositories, members_can_create_private_repositories, members_can_change_repo_visibility, members_can_delete_repositories, members_can_invite_outside_collaborators), and whether it requires two-factor authentication (two_factor_requirement_enabled). Members only.\n\n`team_creation` is who may create its teams: `members` (any member, the default) or `owners`. The `members_can_…` fields are its [member privileges](/guides/workspaces/#member-privileges), and `two_factor_requirement_enabled` whether it [requires two-factor authentication](/guides/authentication/#require-two-factor-authentication). Change it, and the rest, with [`PATCH /workspaces/{workspace}`](/reference/api/workspaces/update-workspace/). `404` for anyone who is not a member. See [Workspaces](/guides/workspaces/).",
        "x-operation": "get_workspace",
        "x-mcp-tool": "workspace",
        "x-mcp-action": "get",
        "x-scope": "workspace:read",
        "security": [
          {
            "token": [
              "workspace:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace's slug, e.g. \"flagon-io\"."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "id": "wsp_01m43teqa9em6bje0bhvdj4jkb",
                  "slug": "acme-labs",
                  "name": "Acme Labs",
                  "description": "Rockets, and the software that flies them.",
                  "created_at": "2026-10-04T16:02:51.337Z",
                  "member_count": 3,
                  "base_permission": "write",
                  "team_creation": "members",
                  "members_can_create_public_repositories": true,
                  "members_can_create_private_repositories": true,
                  "members_can_change_repo_visibility": true,
                  "members_can_delete_repositories": false,
                  "members_can_invite_outside_collaborators": true,
                  "two_factor_requirement_enabled": false
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-example-params": {
          "workspace": "acme-labs"
        }
      },
      "delete": {
        "operationId": "delete_workspace",
        "tags": [
          "Workspaces"
        ],
        "summary": "Delete a workspace",
        "description": "Delete a workspace and everything in it. Owners only, signed in as a person, and confirm must be the workspace's slug. Billing must be able to settle it: no unpaid invoice, no prepaid credit left, and no usage this month still being metered; what it owes is charged to its card at once and its plan ends. Its repositories, projects and apps go with it at once, nobody can reach it, and its access tokens stop working. It is kept for 30 days, when g1t's support can restore it as it was; then it is purged, with its webhooks, integrations and workspace secrets. Its statements, invoices and audit log are kept. The slug is never given to another workspace; the person whose username it is may create it again once it is purged. Some workspaces, such as Flagon's, can never be deleted.\n\nRefused with `402` while billing cannot settle it, with a message that says what to do, and with `403` for anyone but an owner signed in as a person, or for a protected workspace. Its repositories, projects and apps go with it; g1t's support can restore it for 30 days. See [Delete a workspace](/guides/workspaces/#delete-a-workspace).",
        "x-operation": "delete_workspace",
        "x-mcp-tool": "workspace",
        "x-mcp-action": "delete",
        "x-scope": "workspace:admin",
        "security": [
          {
            "token": [
              "workspace:admin"
            ]
          }
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace's slug, e.g. \"flagon-io\"."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": true
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "confirm": {
                    "type": "string",
                    "description": "The workspace's slug again, typed out, to confirm."
                  }
                },
                "required": [
                  "confirm"
                ]
              },
              "example": {
                "confirm": "acme-labs"
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "update_workspace",
        "tags": [
          "Workspaces"
        ],
        "summary": "Update a workspace",
        "description": "Change a workspace's display name and description, what every member gets on each of its repositories (base_permission: none, read, write or admin), who may create its teams (team_creation: members or owners), its member privileges, and whether it requires two-factor authentication. The member privileges are: members_can_create_public_repositories and members_can_create_private_repositories (who may create each kind; owners always can), members_can_change_repo_visibility (members with the Admin role on a repository may make it public or private), members_can_delete_repositories (they may delete or transfer it) and members_can_invite_outside_collaborators (they may give a role to someone outside the workspace). two_factor_requirement_enabled true holds every member and outside collaborator without two-factor authentication out of the workspace until they turn it on; you need it on yourself first. Only the fields given are changed; give at least one. An empty name falls back to the slug, which this never changes (that is a rename, on Settings); an empty description clears it. Owners only, signed in as a person. Returns the workspace as it is now.\n\nOnly the fields given change. `name` is the display name; the slug, the first part of the workspace's addresses, stays as it is. `base_permission` needs the `access:admin` scope as well as `workspace:admin`; [`set_base_permission`](/reference/api/access/set-base-permission/) sets it alone. `team_creation` is `members` (any member may create a team, the default) or `owners`; teams already made stay. The `members_can_…` fields are the workspace's member privileges: who may create public and private repositories, and whether members with the Admin role on a repository may change its visibility, delete or transfer it, and invite outside collaborators. `two_factor_requirement_enabled` holds everyone without two-factor authentication out of the workspace until they turn it on, and needs it on your own account first. Refused with `403` for anyone but an owner signed in as a person. Recorded in the [audit log](/guides/audit-log/). See [Workspaces](/guides/workspaces/).",
        "x-operation": "update_workspace",
        "x-mcp-tool": "workspace",
        "x-mcp-action": "update",
        "x-scope": "workspace:admin",
        "security": [
          {
            "token": [
              "workspace:admin"
            ]
          }
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workspace's slug, e.g. \"flagon-io\"."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "id": "wsp_01m43teqa9em6bje0bhvdj4jkb",
                  "slug": "acme-labs",
                  "name": "Acme Labs",
                  "description": "Rockets, and the software that flies them.",
                  "created_at": "2026-10-04T16:02:51.337Z",
                  "member_count": 3,
                  "base_permission": "write",
                  "team_creation": "owners",
                  "members_can_create_public_repositories": true,
                  "members_can_create_private_repositories": true,
                  "members_can_change_repo_visibility": true,
                  "members_can_delete_repositories": true,
                  "members_can_invite_outside_collaborators": true,
                  "two_factor_requirement_enabled": false
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Its display name, at most 80 characters; longer is cut. Empty: its slug."
                  },
                  "description": {
                    "type": "string",
                    "description": "One line saying what it is for, at most 160 characters; longer is cut. Empty clears it."
                  },
                  "base_permission": {
                    "type": "string",
                    "enum": [
                      "none",
                      "read",
                      "write",
                      "admin"
                    ],
                    "description": "What every member gets on each repository: none, read, write or admin. Needs the access:admin scope as well."
                  },
                  "team_creation": {
                    "type": "string",
                    "enum": [
                      "members",
                      "owners"
                    ],
                    "description": "Who may create the workspace's teams: members (any member, the default) or owners (owners only)."
                  },
                  "members_can_create_public_repositories": {
                    "type": "boolean",
                    "description": "Members may create public repositories. Owners always can. On by default."
                  },
                  "members_can_create_private_repositories": {
                    "type": "boolean",
                    "description": "Members may create private repositories. Owners always can. On by default."
                  },
                  "members_can_change_repo_visibility": {
                    "type": "boolean",
                    "description": "Members with the Admin role on a repository may make it public or private. On by default; off, only owners can."
                  },
                  "members_can_delete_repositories": {
                    "type": "boolean",
                    "description": "Members with the Admin role on a repository may delete or transfer it. Off by default: only owners can."
                  },
                  "members_can_invite_outside_collaborators": {
                    "type": "boolean",
                    "description": "Members with the Admin role on a repository may give a role on it to someone outside the workspace. On by default; off, only owners can."
                  },
                  "two_factor_requirement_enabled": {
                    "type": "boolean",
                    "description": "Require two-factor authentication of every member and outside collaborator. Those without it keep their place but cannot use the workspace until they turn it on. You need it on yourself first."
                  }
                }
              },
              "example": {
                "name": "Acme Labs",
                "description": "Rockets, and the software that flies them.",
                "team_creation": "owners",
                "members_can_delete_repositories": true
              }
            }
          }
        },
        "x-example-params": {
          "workspace": "acme-labs"
        }
      }
    },
    "/user/emails": {
      "get": {
        "operationId": "list_emails",
        "tags": [
          "Accounts"
        ],
        "summary": "List your email addresses",
        "description": "Your email addresses: each one's `email`, whether it is `verified` (confirmed), `primary` or the `backup`, and when it was added and confirmed. Also whether you keep your address private (`private_email`), your `noreply` address, and `commit_email`, the address on commits g1t makes for you. People only: an agent's or a workspace's token cannot read or change addresses.\n\nYour primary address comes first, then confirmed addresses, then unconfirmed ones. Any confirmed address signs you in, can reset your password and attributes commits to you. See [Email addresses](/guides/authentication/#email-addresses).",
        "x-operation": "list_emails",
        "x-mcp-tool": "account",
        "x-mcp-action": "list_emails",
        "x-scope": "account:read",
        "security": [
          {
            "token": [
              "account:read"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "emails": [
                    {
                      "email": "ada@example.com",
                      "verified": true,
                      "primary": true,
                      "backup": false,
                      "created_at": "2026-09-01T10:00:00.000Z",
                      "verified_at": "2026-09-01T10:02:11.000Z"
                    },
                    {
                      "email": "ada@acme.com",
                      "verified": true,
                      "primary": false,
                      "backup": true,
                      "created_at": "2026-10-02T09:30:00.000Z",
                      "verified_at": "2026-10-02T09:31:40.000Z"
                    },
                    {
                      "email": "ada.l@example.org",
                      "verified": false,
                      "primary": false,
                      "backup": false,
                      "created_at": "2026-10-05T14:12:03.000Z",
                      "verified_at": null
                    }
                  ],
                  "private_email": true,
                  "block_private_pushes": false,
                  "noreply": "6c1d0efg+ada@users.noreply.g1t.sh",
                  "commit_email": "6c1d0efg+ada@users.noreply.g1t.sh",
                  "limit": 10
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "add_email",
        "tags": [
          "Accounts"
        ],
        "summary": "Add an email address",
        "description": "Add an email address to your account. g1t emails it a link to confirm it; until then it cannot be primary and does not sign you in. Adding an address you added before and have not confirmed sends the link again. An address another account has confirmed cannot be added. An account has at most 10. Needs your account `password`; your confirmed addresses are told. People only.\n\nAnswers `403` with code `reauth_required` when `password` is missing or wrong, and `409` when another account has confirmed the address. g1t emails the address a six-digit code and a link; it stays unconfirmed until the code is sent to [`confirm_email`](/reference/api/accounts/confirm-email/) or the link is followed.",
        "x-operation": "add_email",
        "x-mcp-tool": "account",
        "x-mcp-action": "add_email",
        "x-scope": "account:write",
        "security": [
          {
            "token": [
              "account:write"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "emails": [
                    {
                      "email": "ada@example.com",
                      "verified": true,
                      "primary": true,
                      "backup": false,
                      "created_at": "2026-09-01T10:00:00.000Z",
                      "verified_at": "2026-09-01T10:02:11.000Z"
                    },
                    {
                      "email": "ada@acme.com",
                      "verified": true,
                      "primary": false,
                      "backup": true,
                      "created_at": "2026-10-02T09:30:00.000Z",
                      "verified_at": "2026-10-02T09:31:40.000Z"
                    },
                    {
                      "email": "ada.l@example.org",
                      "verified": false,
                      "primary": false,
                      "backup": false,
                      "created_at": "2026-10-05T14:12:03.000Z",
                      "verified_at": null
                    }
                  ],
                  "private_email": true,
                  "block_private_pushes": false,
                  "noreply": "6c1d0efg+ada@users.noreply.g1t.sh",
                  "commit_email": "6c1d0efg+ada@users.noreply.g1t.sh",
                  "limit": 10
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "The address to add."
                  },
                  "password": {
                    "type": "string",
                    "description": "Your account password, to confirm it is you. An account that signs in only with GitHub changes its addresses on g1t.sh."
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              },
              "example": {
                "email": "ada.l@example.org",
                "password": "…"
              }
            }
          }
        }
      }
    },
    "/user/emails/confirm": {
      "post": {
        "operationId": "confirm_email",
        "tags": [
          "Accounts"
        ],
        "summary": "Confirm an email address",
        "description": "Confirm an email address with the six-digit `code` from the confirmation email g1t sent it. The same email has a link that does the same; either one works, once, for 60 minutes, and asking for a new email ends both. A new account must confirm its address before it can do anything else: until then this, `GET /user` and `GET /user/emails` are the only calls its token can make, and everything else, MCP included, is refused with `403`. Confirming a new account's address also invites it to the workspace its invite named, when the invite still applies: the answer's `invited_to` names it, and the invitation waits for you to accept or decline it (accept_invitation), or `invite_lapsed` says why not. Ten wrong codes in an hour pause checking for the account. People only.\n\nThe code confirms the address it was sent to, and ends the link sent with it. A wrong, used or expired code answers `422` with one message for all three; after ten wrong codes in an hour the account answers `409` for a while, and the link in the email still works. `verified` says whether the account is confirmed: whether its primary address is. `invited_to` is set when the invite the account signed up with brings it into a workspace: confirming the address sends the account an invitation to that workspace, which it accepts with `POST /user/invitations/{id}/accept` or declines; nobody joins a workspace without saying yes. `joined` is kept for older clients and is null. When the invite was revoked or expired, or the workspace deleted, while the account waited, the address is confirmed all the same and `invite_lapsed` says so. See [Confirming your email address](/guides/authentication/#confirming-your-email-address).",
        "x-operation": "confirm_email",
        "x-mcp-tool": "account",
        "x-mcp-action": "confirm_email",
        "x-scope": "account:write",
        "security": [
          {
            "token": [
              "account:write"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "username": "ada",
                  "email": "ada@example.com",
                  "verified": true,
                  "joined": null,
                  "invited_to": "acme",
                  "invite_lapsed": null
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "The six-digit code from the confirmation email. Spaces and hyphens are ignored."
                  }
                },
                "required": [
                  "code"
                ]
              },
              "example": {
                "code": "482913"
              }
            }
          }
        }
      }
    },
    "/user/emails/{email}": {
      "delete": {
        "operationId": "remove_email",
        "tags": [
          "Accounts"
        ],
        "summary": "Remove an email address",
        "description": "Remove an email address from your account. Never your primary address (make another primary first) and never your last confirmed one. Needs your account `password`; every confirmed address, the removed one included, is told. People only.\n\nGive the address in the path, URL-encoded: `DELETE /user/emails/ada.l%40example.org`. Answers `409` for your primary address or your last confirmed one.",
        "x-operation": "remove_email",
        "x-mcp-tool": "account",
        "x-mcp-action": "remove_email",
        "x-scope": "account:write",
        "security": [
          {
            "token": [
              "account:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The address to remove."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "emails": [
                    {
                      "email": "ada@example.com",
                      "verified": true,
                      "primary": true,
                      "backup": false,
                      "created_at": "2026-09-01T10:00:00.000Z",
                      "verified_at": "2026-09-01T10:02:11.000Z"
                    },
                    {
                      "email": "ada@acme.com",
                      "verified": true,
                      "primary": false,
                      "backup": true,
                      "created_at": "2026-10-02T09:30:00.000Z",
                      "verified_at": "2026-10-02T09:31:40.000Z"
                    },
                    {
                      "email": "ada.l@example.org",
                      "verified": false,
                      "primary": false,
                      "backup": false,
                      "created_at": "2026-10-05T14:12:03.000Z",
                      "verified_at": null
                    }
                  ],
                  "private_email": true,
                  "block_private_pushes": false,
                  "noreply": "6c1d0efg+ada@users.noreply.g1t.sh",
                  "commit_email": "6c1d0efg+ada@users.noreply.g1t.sh",
                  "limit": 10
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "Your account password, to confirm it is you. An account that signs in only with GitHub changes its addresses on g1t.sh."
                  }
                },
                "required": [
                  "password"
                ]
              },
              "example": {
                "password": "…"
              }
            }
          }
        }
      }
    },
    "/user/email-settings": {
      "patch": {
        "operationId": "update_email_settings",
        "tags": [
          "Accounts"
        ],
        "summary": "Change your email settings",
        "description": "Change what your addresses do; only the fields given change. `primary` is a confirmed address to make primary: account mail and password resets go there. `backup` is a confirmed address that also gets security notices, or an empty string for the primary only. Changing either needs your account `password`, and every confirmed address is told. `private_email` keeps your address off commits g1t makes for you (merges and changes made on the web, and agents' commits for you), which use your noreply address instead; `block_private_pushes` refuses pushes whose commits carry one of your addresses while it is private. People only.\n\nOnly the fields given change. `primary` and `backup` need `password`; `private_email` and `block_private_pushes` do not.",
        "x-operation": "update_email_settings",
        "x-mcp-tool": "account",
        "x-mcp-action": "update_email_settings",
        "x-scope": "account:write",
        "security": [
          {
            "token": [
              "account:write"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "emails": [
                    {
                      "email": "ada@example.com",
                      "verified": true,
                      "primary": true,
                      "backup": false,
                      "created_at": "2026-09-01T10:00:00.000Z",
                      "verified_at": "2026-09-01T10:02:11.000Z"
                    },
                    {
                      "email": "ada@acme.com",
                      "verified": true,
                      "primary": false,
                      "backup": true,
                      "created_at": "2026-10-02T09:30:00.000Z",
                      "verified_at": "2026-10-02T09:31:40.000Z"
                    },
                    {
                      "email": "ada.l@example.org",
                      "verified": false,
                      "primary": false,
                      "backup": false,
                      "created_at": "2026-10-05T14:12:03.000Z",
                      "verified_at": null
                    }
                  ],
                  "private_email": true,
                  "block_private_pushes": false,
                  "noreply": "6c1d0efg+ada@users.noreply.g1t.sh",
                  "commit_email": "6c1d0efg+ada@users.noreply.g1t.sh",
                  "limit": 10
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "primary": {
                    "type": "string",
                    "description": "A confirmed address to make primary."
                  },
                  "backup": {
                    "type": "string",
                    "description": "A confirmed address that also gets security notices; an empty string for the primary only."
                  },
                  "private_email": {
                    "type": "boolean",
                    "description": "Use your noreply address on commits g1t makes for you."
                  },
                  "block_private_pushes": {
                    "type": "boolean",
                    "description": "Refuse pushes whose commits carry one of your addresses while it is private."
                  },
                  "password": {
                    "type": "string",
                    "description": "Your account password, to confirm it is you. An account that signs in only with GitHub changes its addresses on g1t.sh."
                  }
                }
              },
              "example": {
                "primary": "ada@acme.com",
                "password": "…"
              }
            }
          }
        }
      }
    },
    "/user/invites": {
      "get": {
        "operationId": "list_invites",
        "tags": [
          "Invites"
        ],
        "summary": "List your invites",
        "description": "Your invites, newest first, and how many you have left. While g1t is invite-only, every new account needs an invite code. You may have 5 invites out at once: pending and used ones count, and one revoked or expired before it was used comes back. `allowance.limit` is null when you have no limit. `workspaces` lists the workspaces you own that were granted invites to share. A pending invite's `code` is shown to you. `status` is `pending`; `awaiting_confirmation` (used to make an account that has not confirmed its address yet); `awaiting_answer` (used to make an account that has yet to accept or decline the workspace it was invited to); `redeemed`; `declined` (its person declined the workspace); `expired`; or `revoked`. An invite that brings someone into a workspace names it in `workspace`, with the `role` it joins with and, once known, the account it is for in `invitee`.\n\n`allowance.limit` and `allowance.remaining` are null when you have no limit. A revoked or expired invite that was never used is not counted. `status` is `pending`, `awaiting_confirmation`, `awaiting_answer` (the account it made has yet to accept or decline the workspace in `workspace`), `redeemed`, `declined`, `expired` or `revoked`. Ask for more at hey@flagon.io with the subject `[g1t Invites]`. See [Invites](/guides/authentication/#invites).",
        "x-operation": "list_invites",
        "x-mcp-tool": "account",
        "x-mcp-action": "list_invites",
        "x-scope": "account:read",
        "security": [
          {
            "token": [
              "account:read"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "mode": "invite",
                  "allowance": {
                    "limit": 5,
                    "used": 2,
                    "remaining": 3
                  },
                  "workspaces": [
                    {
                      "slug": "acme-labs",
                      "allowance": {
                        "limit": 20,
                        "used": 4,
                        "remaining": 16
                      }
                    }
                  ],
                  "invites": [
                    {
                      "id": "inv_01kp2x7m8n9q0r1s2t3v4w5x6y",
                      "code": "g1t-k7m2-q9xd-4hpw-…",
                      "hint": "g1t-k7m2",
                      "email": "ada@example.com",
                      "kind": "account",
                      "workspace": null,
                      "status": "pending",
                      "charged_to": "user",
                      "invited_by": "syntaqx",
                      "redeemed_by": null,
                      "created_at": "2026-10-05T17:00:00.000Z",
                      "expires_at": "2026-11-04T17:00:00.000Z",
                      "redeemed_at": null,
                      "revoked_at": null,
                      "invitee": null,
                      "role": null
                    },
                    {
                      "id": "inv_01kp1v3c4d5e6f7g8h9j0k1m2n",
                      "code": null,
                      "hint": "g1t-p3rt",
                      "email": null,
                      "kind": "account",
                      "workspace": null,
                      "status": "redeemed",
                      "charged_to": "user",
                      "invited_by": "syntaqx",
                      "redeemed_by": "grace",
                      "created_at": "2026-10-02T09:12:40.000Z",
                      "expires_at": "2026-11-01T09:12:40.000Z",
                      "redeemed_at": "2026-10-02T11:30:05.000Z",
                      "revoked_at": null,
                      "invitee": "grace",
                      "role": null
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "create_invite",
        "tags": [
          "Invites"
        ],
        "summary": "Create an invite",
        "description": "Make an invite. With `email`, it is sent there and only that address can use it; without, anyone with the code can, once. It works for 30 days. With `workspace`, the new account is brought into that workspace: once it confirms its address it gets an invitation to join as a member, which it accepts or declines, and no workspace of its own is made for it. That must be a workspace you own on the g1t plan; a free workspace is refused with `payment_required` (402). Without `workspace`, the new account gets a free workspace of its own. It uses one of your invites, or with `charge_workspace`, one of the invites g1t granted that workspace (its owners only). Returns the invite with its `code`; the link is https://g1t.sh/invite/<code>. People only: an agent's token or a workspace's token cannot make invites.\n\n`workspace` brings the new account into a workspace you own: once it confirms its address it gets an invitation to join as a member, which it accepts or declines, and no workspace of its own is made for it. Leave `workspace` out and the new account gets a free workspace of its own. A workspace on the free plan cannot bring anyone in: `402` with `payment_required`, until it starts the g1t plan. `charge_workspace` is separate: it uses one of the invites g1t granted that workspace instead of one of yours, and works with or without `workspace`. Refused with `402` (`limit`) when you have no invites left, with `409` when you already have a pending invite for that address or it already has a g1t account, and with `403` for an agent's or a workspace's token. The code is returned in full; send people the link `https://g1t.sh/invite/<code>`.",
        "x-operation": "create_invite",
        "x-mcp-tool": "account",
        "x-mcp-action": "create_invite",
        "x-scope": "account:write",
        "security": [
          {
            "token": [
              "account:write"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "id": "inv_01kp2x7m8n9q0r1s2t3v4w5x6y",
                  "code": "g1t-k7m2-q9xd-4hpw-…",
                  "hint": "g1t-k7m2",
                  "email": "ada@example.com",
                  "kind": "account",
                  "workspace": "acme-labs",
                  "status": "pending",
                  "charged_to": "user",
                  "invited_by": "syntaqx",
                  "redeemed_by": null,
                  "created_at": "2026-10-05T17:00:00.000Z",
                  "expires_at": "2026-11-04T17:00:00.000Z",
                  "redeemed_at": null,
                  "revoked_at": null,
                  "invitee": null,
                  "role": "member"
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Only this address can use it, and it is emailed there. Left out, anyone with the code can."
                  },
                  "workspace": {
                    "type": "string",
                    "description": "The workspace the new account is invited to, by slug. Once it confirms its address it gets an invitation to join as a member, and no workspace of its own. One you own, on the g1t plan."
                  },
                  "charge_workspace": {
                    "type": "string",
                    "description": "Use one of the invites g1t granted this workspace instead of yours, by slug. Owners only."
                  }
                }
              },
              "example": {
                "email": "ada@example.com",
                "workspace": "acme-labs"
              }
            }
          }
        }
      }
    },
    "/user/invites/{id}": {
      "delete": {
        "operationId": "revoke_invite",
        "tags": [
          "Invites"
        ],
        "summary": "Revoke an invite",
        "description": "Revoke a pending invite you made, or one made for a workspace you own. It stops working at once, and the invite comes back to whoever it was charged to.",
        "x-operation": "revoke_invite",
        "x-mcp-tool": "account",
        "x-mcp-action": "revoke_invite",
        "x-scope": "account:write",
        "security": [
          {
            "token": [
              "account:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The invite's id, such as inv_01k…"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "id": "inv_01kp2x7m8n9q0r1s2t3v4w5x6y",
                  "code": null,
                  "hint": "g1t-k7m2",
                  "email": "ada@example.com",
                  "kind": "account",
                  "workspace": null,
                  "status": "revoked",
                  "charged_to": "user",
                  "invited_by": "syntaqx",
                  "redeemed_by": null,
                  "created_at": "2026-10-05T17:00:00.000Z",
                  "expires_at": "2026-11-04T17:00:00.000Z",
                  "redeemed_at": null,
                  "revoked_at": "2026-10-06T08:00:00.000Z",
                  "invitee": null,
                  "role": null
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/user/invitations": {
      "get": {
        "operationId": "list_invitations",
        "tags": [
          "Invites"
        ],
        "summary": "List your workspace invitations",
        "description": "The invitations to workspaces waiting for your answer, newest first: each one's `id`, the `workspace` (`slug`, `name`, `avatar`), the `role` accepting gives (`member` or `owner`), who sent it (`invited_by`, null when g1t staff did), and when it was made and when it expires. Expired, revoked and answered ones are left out. Accept or decline each by its `id`. People only; an agent's or a workspace's token gets an empty list.\n\nAccept one with `POST /user/invitations/{id}/accept`, or decline it with `POST /user/invitations/{id}/decline`. An agent's or a workspace's token gets an empty list.",
        "x-operation": "list_invitations",
        "x-mcp-tool": "account",
        "x-mcp-action": "list_workspace_invitations",
        "x-scope": "account:read",
        "security": [
          {
            "token": [
              "account:read"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": [
                  {
                    "id": "inv_01kp2x7m8n9q0r1s2t3v4w5x6y",
                    "workspace": {
                      "slug": "acme-labs",
                      "name": "Acme Labs",
                      "avatar": null
                    },
                    "role": "member",
                    "invited_by": {
                      "username": "syntaqx",
                      "name": "Chase",
                      "avatar": null
                    },
                    "created_at": "2026-10-05T17:00:00.000Z",
                    "expires_at": "2026-11-04T17:00:00.000Z"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/user/invitations/{id}/accept": {
      "post": {
        "operationId": "accept_invitation",
        "tags": [
          "Invites"
        ],
        "summary": "Accept a workspace invitation",
        "description": "Accept an invitation to a workspace sent to you. You join it at once with the role it names. Returns the workspace's slug in `workspace`. Refused with `404` when you have no open invitation with that id (it may have been answered, revoked or expired), with `403` until you confirm your email address or when your account does not meet what the workspace asks of its members, such as two-factor authentication, and with `payment_required` (402) while the workspace is free: it can add no one until it starts the g1t plan, and the invitation stays open until then. People only.\n\nYou join at once with the invitation's `role`. `404` when you have no open invitation with that id (it may have been answered, revoked or expired). `403` until you confirm your email address, and when your account does not meet what the workspace asks of its members, such as two-factor authentication, with a message that says what to turn on. `402` with `payment_required` while the workspace is on the free plan; the invitation stays open until it starts the g1t plan. Recorded as `member.added`.",
        "x-operation": "accept_invitation",
        "x-mcp-tool": "account",
        "x-mcp-action": "accept_workspace_invitation",
        "x-scope": "account:write",
        "security": [
          {
            "token": [
              "account:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The invitation's id, from list_invitations."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "workspace": "acme-labs"
                }
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The input is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-example-params": {
          "id": "inv_01kp2x7m8n9q0r1s2t3v4w5x6y"
        }
      }
    },
    "/user/invitations/{id}/decline": {
      "post": {
        "operationId": "decline_invitation",
        "tags": [
          "Invites"
        ],
        "summary": "Decline a workspace invitation",
        "description": "Decline an invitation to a workspace sent to you. Whoever sent it is told in their inbox, and the workspace's owners can invite you again. People only.\n\nWhoever sent it is told in their inbox. The workspace's owners can invite you again. `404` when you have no open invitation with that id.",
        "x-operation": "decline_invitation",
        "x-mcp-tool": "account",
        "x-mcp-action": "decline_workspace_invitation",
        "x-scope": "account:write",
        "security": [
          {
            "token": [
              "account:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The invitation's id, from list_invitations."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {},
                "example": true
              }
            }
          },
          "401": {
            "description": "A token is required, or the one sent is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but not allowed to do this: the role you have is not enough, or the token lacks the scope it needs, which `needed_scope` names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "It does not exist, or you cannot see it.",
            "content": {
              "application/json": {
[...]
